body {
  background: linear-gradient(30deg, rgb(35, 51, 71) 4%, rgb(49, 50, 75));
  height: 100vh;
  background-attachment: fixed;
  color: rgb(255, 235, 235);
  font-family: "Roboto Mono", monospace;
  line-height: 1.35rem;
}

.roboto {
  font-family: "Roboto Mono", monospace;
}

.custom-nav {
  background: linear-gradient(30deg, rgb(35, 51, 71) 4%, rgb(49, 50, 75));
  color: rgb(255, 235, 235);
  border-bottom: solid 2px crimson;
  border-top: solid 2px crimson;
  text-align: center;
}
.custom-main {
  /* border-top-width: 2px;
  border-top-style: solid;
  border-color: crimson;
  border-top-color: crimson; */
  background: transparent;
  /* margin: 1rem; */
  padding-top: 20px;
}
.about-me {
  font-size: 16px;
  text-align: center;
}
.color-back {
  background-color: crimson;
  border: solid 2px black;
  border-radius: 10%;
  transition: all ease 0.4s;
}
.color-back:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px crimson);
}

.color-back:active {
  transform: scale(1.1);
  transform: translateY(3px);
}
.img-fluid {
  display: block;
  max-width: 75%;
  /* margin: 5px; */
  border-radius: 50%;
  /* margin-top: 24px; */
}
